{% extends 'generator/layout.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
   
</head>


{% block content%}
<div align="center">
<h1>PASSWORD</h1>
<br>
<div>

    <div class="card" style="width: 28rem;">
   
        <div class="card-body">
          <h2 class="card-title" style="background-color:#000000;" align="center" margin-top="1px">{{password}}</h2>
          <p class="card-text" style="color:#000000;" align="center">Este es tu nueva contraseña!!!</p>
          <a href="{% url 'home'%}" class="btn btn-primary col-md-12">Generate a new password</a>
        </div>
      </div>

</div>

{% endblock %}


</html>