* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
   
  }

  .footer {
    color: rgb(4, 0, 254);
    margin-top: 20px;
    text-align: right;
    margin-right: 10px;
    
  }
  
